@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none;
}

html{
  line-height: 1.15;
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  color: #545454;
  /* font-family: Kanit,sans-serif; */
  /* font-family: "Proxima Nova","Verdana","Avenir Next"; */
  font-family: Open Sans,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body h2{
  font-size: 35px;
  font-weight: 600;
}
body h3{
  font-size: 25px;
  font-weight: 600;
  line-height: 1.15;
}
.trasnparent_logo_first{
  transform: rotate(45deg);
  top: 100px;
  left:-200px;
  opacity: 0.3;
  z-index: 9;
  background-color: rgb(6, 6, 31);
}
.trasnparent_logo{
  top:0px;
  opacity: 0.5;
  z-index: 9;
  background-color: rgb(6, 6, 31);
}

body p{
  font-size: 16px;
  line-height: 1.3;
}
body h1, body h2, body h3, body h4, body h5, body h6{
  color: #231942;
  word-break: break-word;
}
.transition_is_visible{
    opacity: 1;
    visibility: show;
    transition:all 0.10s ease;
    top:auto;
}

.text-title-shadow{
  text-shadow: 0px 2px 0px white,1px 2px 0px blueviolet; 
} 

.bg-url{
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  filter:saturate(1.2);
}

.bg-url-metier{
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
}

.bg-url-partenaire{
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  filter:saturate(1.2);
}
.filter_image{
  /* filter: contrast(220%); */
  filter: brightness(0.90);
}

.bg-url_teams{
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  filter:opacity(20%);
}
.bg-url-logo{
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
}
.sub_menu{
  visibility: hidden;
  opacity: 0;
  /* transition:  top .7s cubic-bezier(0,.55,.45,1),opacity .6s cubic-bezier(0,.55,.45,1),top .7s cubic-bezier(0,.55,.45,1); */
  transition: all 0.4s ease;
}
.menu:hover .sub_menu{
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.changeImage{
  transition: all 0.5s ease-in-out;
}

.btn_navigation{
  display: none;
}
.cursor-pointer:hover ~ .btn_navigation{
  display: inline-block;
}
.hover_scale_nos_idee{
  transition:all 0.7s ease-in-out;
}
.hover_scale_nos_idee:hover{
  transform: scale(1.05);
}
/* mobile */
.menu_mobile:hover .sub_menu_mobile{
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

/*  */
.container-carousel-scroll{
 display: flex;
 width:90%;
 overflow:hidden;
 margin:auto;
 position: relative;
 align-items:center;
 padding:2px;
 background-color: white;
}
.item-partener{
   min-width:200px; 
   height:150px;
   position:relative; 
   display: block; 
}

.item{
 min-width:260px;
 height:100%;
 position:relative;
 background-color: white;
 margin:auto 3px;
 display: block;
}

.item_categorie{
 position: relative;
 min-width:250px;
 height:100%;
 position:relative;
 background-color:white;
 margin:auto 8px;
 display: block;
 border-radius:8px;
 transition: all 0.4s ease;
}

.item_categorie:hover{
transform: scale(1.01);
z-index:10;
box-shadow:2px 2px 2px white,-1px -1px 2px white;
}
